<div class="tabs-left">

   <!-- <div class="tab-n" style="border: 1px solid;margin: 10px;">

      </div>-->
    <!--<div class="tab-center" style="border: 1px solid"></div>
        <div class="tab-dbu" style="border: 1px solid"></div>-->
   <ul class="nav nav-stacked">
        <li class="profile-avatar">
            <div class="avatar-with-edit">
                <img class="avatar" src="https://dn-jsjpub.qbox.me/av/20161205093927_14ba0c?imageMogr2/thumbnail/285x285&gt;|imageMogr2/crop/!100x100a19a21|imageMogr2/thumbnail/100x100&gt;" alt="100x100>">
                <div class="avatar-edit-bg gd-hide"></div>
                <a data-toggle="modal" data-target="#change_avatar_modal" href="/avatar">编辑</a>
            </div>
            <span class="name-with-vip-style">
                 <span class="vip-user free-user"><%-user.username%></span>
            </span>
        </li>

        <li><a href="/blogadd">发布博客</a> </li>
        <li><a href="#">全部信息</a> </li>
    </ul>
</div>